/numeroIgual0/nbproject/private/
/numeroIgual0/build/
/numerosUnoADiez/nbproject/private/
/numerosUnoADiez/build/
/multiposDeTres/nbproject/private/
/multiposDeTres/build/
/decremento025/nbproject/private/